@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;*/


.step-section{
	background-image: url(../images/banner-2.png);
}
.form-section{
	background-image: url(../images/banner-3.png);
}
footer{
	background: #333;
	color: white;
}
.footer-bottom-section{
	background: black;
	color: #fff
}